<main>
  <div class=" mx-auto w-2/4 flex mb-10 justify-between">
    <button *ngIf="prev!== null && !isTrainerList" (click) = "onPageChange(prev)" class="border-2 border-black p-4 mt-3 w-38 shadow-sm shadow-black" >Previous</button>
    <button *ngIf="next!== null && !isTrainerList" (click) = "onPageChange(next)" class="border-2 border-black p-4 mt-3 w-36 shadow-sm shadow-black">Next</button>
  </div>

  <div class="flex flex-wrap w-10/12 mx-auto">
    <app-pokemon-item
      *ngFor="let pokemon of pokemons"
      [pokemon]="pokemon"
      [isTrainerList]="isTrainerList"
    ></app-pokemon-item>
  </div>
  <div class=" mx-auto w-2/4 flex mt-5 mb-5 justify-between">
    <button  *ngIf="prev!== null && !isTrainerList" (click) = "onPageChange(prev)" class="border-2 border-black p-4 mt-3 w-38 shadow-sm shadow-black" >Previous</button>
    <button *ngIf="next!== null && !isTrainerList" (click) = "onPageChange(next)" class="border-2 border-black p-4 mt-3 w-36 shadow-sm shadow-black">Next</button>
  </div>

</main>
