<header class="pokeframe h-auto text-center">
    <nav class="">
        <div class="my-1 mx-3 p-1 space-x-16">
            <a routerLink="/trainer">My PokéMon</a>
            <a routerLink="/catalogue">PokéDex</a>
        </div>
    </nav>
    <h1 class="text-3xl mx-3 my-1 p-1">My PokéMon</h1>
</header>

<div class="container m-auto text-center">
    <button (click) = "onLogout()" class="border-2 border-black p-4 mt-3 shadow-sm shadow-black">Log Out</button>
    <app-pokemon-list [isTrainerList]=true></app-pokemon-list>
</div>
