<div *ngIf="!released" class="container pokeframe pokecard overflow-y-auto">
  <div class="h-3">
    <img *ngIf="isAdded()" class="2/6"
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" alt="added" />
  </div>
  <img src="{{ pokemon?.avatar }}" alt="" class="w-full" />

  <p class="">#{{ pokemon?.id }}</p>

  <p class="text">{{ pokemon?.name }}</p>

  <button *ngIf="isTrainerList" (click)="onReleaseButtonClicked()"
    class="border-2 border-black p-1 w-36 mb-2 bg-red-200 shadow-sm shadow-black">
    Release
  </button>

  <button *ngIf="!isTrainerList" (click)="onAddPokemonButtonClicked()"
    class="border-2 border-black p-1 w-36 mb-2 bg-green-300 shadow-sm shadow-black">
    Add
  </button>


</div>