.pokecard {
    width: 12rem;
    height: 20rem;
    --tw-bg-opacity: 1;
    background-color: rgb(254 249 195 / var(--tw-bg-opacity));
    padding: 0.25rem/* 4px */;
    margin: 0.25rem/* 4px */;
    align-content: center;
    text-align: center;
    word-wrap: break-word;
    font-size: 100%;
}