<div class="center-on-page">
    <div [ngClass]="{
        'pokeball' : true,
         'pokeball-animate': animate }">
      <div [ngClass]="{
          'pokeball__button' : true,
           'pokebutton-animate': animate}"></div>
    </div>
  </div>
<main class="container mx-auto text-center mt-10">
    <h1 class="text-l">Please type in your name:</h1>
    <form #username= "ngForm" (ngSubmit)="onSubmit(username)" >
        <fieldset class="mb-3">
            <label class="form-label" for="username"></label>
            <input class="form-control"
            ngModel #username ="ngModel"
            [ngClass]="{'is-valid': username.valid, 'is-invalid': (username.invalid && (username.dirty||username.touched))}"
             type="text"
              id="username"
               placeholder="Ash Ketchup" username="username" 
               required
               minlength="2"
               name = "username"/>
            <button [disabled] = "username.invalid" type="submit" class="cursor-pointer border-2 p-2" >Continue</button>
        </fieldset>
    </form>
</main>
