<header class="pokeframe h-auto text-center">
    <nav class="">
        <div class="my-1 mx-3 p-1 space-x-16">
            <a routerLink="/trainer">My PokéMon</a>
            <a routerLink="/catalogue">PokéDex</a>
        </div>
    </nav>
    <h1 class="text-3xl mx-3 my-1 p-1">PokéDex</h1>
</header>

<div class="container m-auto">
    <app-pokemon-list></app-pokemon-list>
</div>
