@tailwind base;

@tailwind components;

@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

header {
    height: 60px;
    background-color: rgba(236, 22, 22, 0.932);
}

/* The image frame-hd.png has been downloaded from
 https://github.com/luttje/css-pokemon-gameboy/tree/main/src/images */
.pokeframe {
    /* position: relative; */
    border: 10px solid;
    border-image: url("images/frame-hd.png") 40;
}

/* This font was made by Jackster Productions and can be downloaded at
 https://www.fontspace.com/pokemon-gb-font-f9621 */
@font-face {
    font-family: PokeMonGameFont;
    src: url("pokemon-gb-font/PokemonGb-RAeo.ttf");
}

.poketext {
    font-family: PokeMonGameFont;
}